<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> SDX and Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SDX and Ionic</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>this is not SDX</h1>
  <div class="sdx">
    <div class="container">
      <h1>this is H1 SDX</h1>
      <hr aria-hidden="true" />
      <div class="row">
        <div class="col-xs">
          <sdx-button theme="confirm" label="Confirm"></sdx-button>
        </div>
        <div class="col-xs">
          <sdx-button
            theme="primary"
            label="Primary button"
          ></sdx-button>
        </div>
      </div>
      <hr aria-hidden="true" />
      <div class="row">
        <app-modal-sample></app-modal-sample>
        <hr aria-hidden="true" />
        <app-closeable-modal></app-closeable-modal>
      </div>
    </div>
  </div>
</ion-content>
