<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Plugins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Plugins</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-label color="primary">isMobileAppEnv? {{(isMobileApp ) === true?'yes':'no' }}</ion-label>
  <section class="full-width">
    <header>Call echo</header>
    <ion-button expand="full" color="secondary" (click)="callEcho('Echo regular mesage')">A full-width button
    </ion-button>
  </section>

  <section class="full-width">
    <header>Call Echo UP</header>
    <ion-button expand="full" color="tertiary" (click)="callEchoMyPLugin('Echo Up Message')">A full-width button</ion-button>
  </section>

  <section class="full-width">
    <header>SysInfo</header>
    <ion-button expand="full" color="danger" (click)="callSysInfo()">A full-width button</ion-button>
  </section>
</ion-content>