<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Native
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">App Settings</ion-title>
        </ion-toolbar>
    </ion-header>


    <h1>Platform Info!</h1>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    <p>isMobile App? {{platform.isMobileApp()}}</p>
    <p>isDesktop App? {{platform.isDesktop()}}</p>
    <p>isMobileWebView? {{platform.isWebAppMobileView()}}</p>
    <p>Orientation: {{orientation}}</p>

    <p>Debug: {{platform.debugPlatforms()}}</p>

    <h2>Toasts</h2>

    <ion-button expand="full" (click)="presentToast()">Open TOP toast </ion-button>
    <ion-button expand="full" (click)="presentToast('BIG MESSAGEE')">Open toast big message </ion-button>


    <h1>Internal browser</h1>
    <ng-container *ngFor="let link of linksList">
        <ion-label>{{link.description}}</ion-label>
        <ion-button
                expand="full"
                (click)="openBrowserUrl(link.url)">{{link.name}}</ion-button>
    </ng-container>



    <ion-segment>
        <ion-button expand="full" (click)="openPDF()">Open PDF</ion-button>
    </ion-segment>


    <hr>

    <!-- <ion-list>
      <ion-list-header lines="full">
        <h1>Local Push notifications</h1>
      </ion-list-header>
      <ion-item>
        <ion-label>Message:</ion-label>
        <ion-input [(ngModel)]="pushContent" placeholder="Enter Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Send push in {{notificationTime}} seconds</ion-label>
        <ion-button expand="full" (click)="sendMessage()">Send message</ion-button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header lines="full">
        <h1>Share API</h1>
      </ion-list-header>
      <ion-item>
        <ion-label>Share a content</ion-label>
        <ion-button expand="expand" (click)="shareContent()">Share</ion-button>
      </ion-item>
    </ion-list>

    <section>
      <header>Splashscreen</header>
      <ion-button (click)="triggerSplashScreen()" expand="block" color="secondary" >A block button</ion-button>
    </section>

    <section>
      <header>Modals</header>
      <ion-button (click)="alertModal()" expand="block" color="danger" >Alert modal</ion-button>
      <ion-button (click)="questionModal()" expand="block" color="light" >Question</ion-button>
    </section> -->

</ion-content>