<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Country detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="countryDetail">
    <ion-card>
      <!-- <img width="390" height="250" [src]="imageUrl" /> -->
      <ion-img height="250" src="{{imageUrl}}"></ion-img>

      <ion-card-header>
        <ion-card-subtitle>Details</ion-card-subtitle>
        <ion-card-title>{{countryDetail.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{countryDetail.name}} has the unique code {{countryDetail.code}};</p>
        <p>The capital is {{countryDetail.capital}} with a total of {{countryDetail.numRegions}} rngegions;</p>
        <p>Oficial current code(s): <span *ngFor="let c of countryDetail.currencyCodes">{{c}} </span>  </p>

        <ion-item>
          <ion-label>Capital: {{countryDetail.capital}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Regions</ion-label>
          <ion-badge color="light" slot="end">{{countryDetail.numRegions}}</ion-badge>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item *ngFor="let region of countryDetail.region" (click) ="presentModal(region)">
        <ion-label>{{region.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
