<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{countryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="countryDetail">
    <ion-card>
      <ion-thumbnail>
        <img class="flag-img" src="{{imageUrl}}"  height="250px" />
      </ion-thumbnail>



      <ion-card-header>
        <ion-card-subtitle>Details</ion-card-subtitle>
        <ion-card-title>{{countryDetail.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div>
          <p>The capital is {{countryDetail.capital}} with a total of {{countryDetail.regions.length}} regions/states;</p>
          <p>Oficial currency is <span>{{countryDetail.currency.name}} </span> </p>
        </div>
        <ion-item>
          <ion-label>Capital: {{countryDetail.capital}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Population: {{countryDetail.population | number}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Currency: {{countryDetail.currency.name | titlecase}}</ion-label>
        </ion-item>
        <ion-item>One hundred units: {{ 100 | currency: countryDetail.currency.code }}</ion-item>
        <ion-item routerLink="../regions" [disabled]="countryDetail.regions.length === 0">
          <ion-label>Regions</ion-label>
          <ion-badge color="light" slot="end">{{countryDetail.regions.length}}</ion-badge>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item *ngFor="let map of countryDetail.location.map">
        <div class="container">
          <div class="polaroid">
            <ion-thumbnail slot="start">
              <img [src]="map"/>
            </ion-thumbnail>
        </div>
        </div>

      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-toolbar>
        <ion-button (click)="presentActionSheet()" expand="block">Actions</ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>

</ion-content>
