<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
          (ionClear)="clearAction()"
          (ionInput)="onType($event)"
          debounce="300ms"
  ></ion-searchbar>
  <ion-item>
    <ion-label>Total Countries</ion-label>
    <ion-spinner *ngIf="loading"></ion-spinner>
    <ion-badge *ngIf="!loading" slot="end">{{totalElements}}</ion-badge>
  </ion-item>
  <ng-container *ngIf="(countryList | async) as filteredCountries">
    <ion-list>
      <ion-item *ngFor="let country of filteredCountries" button [routerLink]="['/tabs/world', country.code]">
        <ion-badge slot="start">{{country.code}}</ion-badge>
        <ion-label>{{country.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>