<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      World API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
          (ionClear)="clearAction()"
          (ionInput)="onType($event)"
          debounce="300ms"
  ></ion-searchbar>
  <ng-container *ngIf="(countryList | async) as filteredCountries">
    <ion-list>
      <ion-item>
        <ion-label>Total Countries</ion-label>
        <ion-badge slot="end">{{totalElements}}</ion-badge>
      </ion-item>

      <ion-item *ngFor="let country of filteredCountries" button [routerLink]="['/tabs/tab1/country', country.code, { title: country.name}]">
        <ion-badge slot="start">{{country.code}}</ion-badge>
        <ion-label>{{country.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>