<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      World API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="countries">
    <ion-item>
      <ion-label>Total Countries</ion-label>
      <ion-badge slot="end">{{totalElements}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Select a country</ion-label>
    </ion-item>
    <ion-item *ngFor="let country of countries" [routerLink]="['/tabs/tab1/country', country.code]">
      <ion-label>{{country.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>