<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Regions</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="country">

  <ion-card *ngFor="let region of country.regions" (click)="openRegion(region.wikiId)">
    <ion-card-header>
      <ion-card-title>{{region.name}}, {{region.isoCode}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{region.name}} has {{region.numCities}} cities.
      The capital is {{region.capital}}
    </ion-card-content>
  </ion-card>
</ion-content>
